*{
    padding: 0px;
    margin: 0px;
}
div.header{width: 100%;
z-index: 0;}
div.header ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50;
}

div.header li {
    display:inline-block;
}

div.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.header li a:hover{
    background-color:#f39c12; 
}

div.header ul.head li ul.head {
    background-color:#2c3e50;
    display:none;
    position:absolute;
    width:100px
}

div.header ul.head li:hover ul.head{
    display:block;
}
div.header li ul.head li {
    display:block; 
}